langgraph
langchain
langchain-core
langchain-google-genai
langchain-openai
fastapi
uvicorn
pydantic
python-dotenv
langgraph-checkpoint-sqlite
tenacity
tiktoken
pandas
matplotlib
seaborn
jupyter
xgboost
scikit-learn
numpy